@using ASP_MVC_HW2_Comment.App_LocalResources

@{
    ViewBag.Title = @Resource.Error;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>@Resource.Error</h2>
<hr />
<h5>@TempData["errorMessage"]</h5>


