@using ASP_MVC_HW2_Comment.App_LocalResources

@{
    ViewBag.Title = "Forbidden" + Response.StatusCode;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Resource.Forbidden403</h2>
<hr />
<h5>@Resource.Forbidden403Text</h5>

