@using ASP_MVC_HW2_Comment.App_LocalResources

@{
    ViewBag.Title = "NotFound" + Response.StatusCode;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Resource.NotFound404</h2>
<hr />
<h5>@Resource.NotFound404Text</h5>
