@using ASP_MVC_HW2_Comment.App_LocalResources

@{
    ViewBag.Title = "End of registration";
    Layout = "~/Views/Shared/_LayoutAuthorization.cshtml";
}

    <h2>@Resource.SuccessfullyRegistered</h2>

